[submodule "broadhub"]
	path = broadhub
	url = https://github.com/jubenitogarcia/BroadHub.git

[submodule "comprehensive-crm-so"]
	path = comprehensive-crm-so
	url = https://github.com/jubenitogarcia/comprehensive-crm-so.git

[submodule "whatsapp-gateway"]
	path = whatsapp-gateway
	url = https://github.com/jubenitogarcia/WhatsApp.git
